<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\hp\Documents\NetBeansProjects\Awol_First_Antivirus1\dist\Awol_First_Antivirus1.jar</jar>
  <outfile>C:\Users\hp\Documents\NetBeansProjects\Awol_First_Antivirus1\dist\Awol_First_Untivirus.exe</outfile>
  <errTitle>Your Pc Don&apos;t Have Java Jdk please Instal First</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\hp\Documents\NetBeansProjects\Awol_First_Antivirus1\dist\ico.ico</icon>
  <singleInstance>
    <mutexName>Awol_Antivirus</mutexName>
    <windowTitle>Awol_Antivirus</windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Awol Is Antivirus</fileDescription>
    <copyright>NIL</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>Awol_Antivirus</productName>
    <companyName>Bright143 Software Compony</companyName>
    <internalName>Awol_Antivirus</internalName>
    <originalFilename>Awol_First_Untivirus.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>